<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mariadb://localhost:3306/rental</property>
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <mapping resource="com/mxdlzg/rental/domain/entity/RtUserEntity.hbm.xml"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtUserEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtCustomerEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtStoresEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtCarMakerEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtCarStructureEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtCarEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtBookingEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtPriceEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtOrderEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtOrderCouponsEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtOrderCustomerEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtOrderStateEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtOrderTypeEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtOrderPriceEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtvOrderPayInfoEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtvOrderCarInfoEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtvUserCouponsEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtvStateCurrentEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtPageAccessEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtvAnalysisDaySaleEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtvAnalysisDayAccessEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtvStoresSalesEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtInsuranceEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtInvoiceEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtNotifyEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtPayOrderEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtCheckoutEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtUserRecommandationEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtCurrentUserEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtvCarEntity"/>
        <mapping class="com.mxdlzg.rental.domain.entity.RtvOrderEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>